aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiohttp-retry==2.9.1
aiosignal==1.3.2
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.8.0
attrs==25.1.0
bcrypt==4.2.1
blinker==1.9.0
cachetools==5.5.1
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cssselect==1.2.0
cssutils==2.11.1
distro==1.9.0
fastapi==0.115.11
Flask==3.1.0
frozenlist==1.5.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
jiter==0.8.2
lxml==5.3.0
macholib==1.16.3
MarkupSafe==3.0.2
more-itertools==10.6.0
multidict==6.1.0
mysql-connector-python==9.1.0
openai==1.60.2
packaging==24.2
pillow==11.1.0
premailer==3.10.0
propcache==0.2.1
pydantic==2.10.6
pydantic_core==2.27.2
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.0
PyJWT==2.10.1
qrcode==8.0
requests==2.32.3
setuptools==75.8.0
sniffio==1.3.1
starlette==0.46.1
svgwrite==1.4.3
tabulate==0.9.0
tqdm==4.67.1
Tree==0.2.4
twilio==9.4.4
typing_extensions==4.12.2
urllib3==2.3.0
uvicorn==0.34.0
Werkzeug==3.1.3
yagmail==0.15.293
yarl==1.18.3
